<div class="main-div">
    <mat-card class="example-card">
        <form [formGroup]="connexionForm" class="example-form" >
            <mat-form-field class="example-full-width">
                <input formControlName="email" matInput placeholder="Email" required>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <input formControlName="password" type="password" matInput placeholder="Password" required>
            </mat-form-field>
        </form>
        <button mat-button (click)="connexion()">Connexion</button>
        <button mat-button (click)="retour()">Retour</button>

    </mat-card>
</div>